body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/rest2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}
  .cardStyle {
    width: 300px; 
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease-in-out; 
    background-color:#656262;
    color: black;
}

.cardStyle:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardStyle img {
    width: 100%;
    border-radius: 8px; 
}

.split-container {
    display: flex;
    width: 100%;
}

.left-half {
    flex: 1;
    overflow: hidden;
}

.restaurant-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-half {
    background-color: #f8f9fa; 
    padding: 40px; 
    border-radius: 8px;
    box-sizing: border-box;
    flex: 1;
}

h1 {
    text-align: center;
    color: #007bff; 
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #555;
}

input {
    padding: 14px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.errmsg {
    color: #ff0000;
    margin-top: 10px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Choose a color that fits your design */
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Add some additional styling for a modern look */
  .card-title::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #007bff; /* Choose a color that fits your design */
    margin: 8px auto;
  }
  
  /* Add hover effect */
  .card-title:hover {
    color: #007bff; /* Choose a color that fits your design */
  }